<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="serviceManagerSection" type="TigerTrade.Config.ServiceManagerServersConfig,TigerTrade"/>
        <section name="symbolDepthSection" type="TigerTrade.Config.SymbolDepthConfig,TigerTrade"/>
    </configSections>
    <serviceManagerSection>
        <servers>
            <add key="Server1" dnsUri="ps1.tigertradesoft.net:9055" ipUri="37.228.114.50"/>
            <add key="Server2" dnsUri="ps2.tigertradesoft.net:9055" ipUri="142.132.202.158"/>
            <add key="Server3" dnsUri="data-service.tiger.trade:80" ipUri="185.189.195.39"/>
            <add key="Server4" dnsUri="5.188.131.220:80" ipUri="142.132.202.159"/>
        </servers>
    </serviceManagerSection>
    <!-- BINANCE Limits : 1-5000 -->
    <!-- BINANCE-FUT Limits : 5, 10, 20, 50, 100, 500, 1000 -->
    <symbolDepthSection>
        <symbols>
            <!-- <add symbol="BINANCE:BTCUSDT" limit="900" /> -->
            <!-- <add symbol="BINANCE-FUT:BTCUSDT" limit="1000" /> -->
        </symbols>
    </symbolDepthSection>
    <appSettings>
        <add key="DocControlTimer:Interval" value="40"/>
        
        <add key="Binance:HttpEndpointsSpot" value="https://api.binance.com"/>
        <add key="Binance:HttpEndpointsFutures" value="https://fapi.binance.com"/>
        <add key="Binance:HttpEndpointsFutCoin" value="https://dapi.binance.com"/>
        
        <add key="Binance:WsEndpointsSpot" value="wss://stream.binance.com:9443/ws"/>
        <add key="Binance:WsEndpointsFutures" value="wss://fstream.binance.com/ws"/>
        <add key="Binance:WsEndpointsFutCoin" value="wss://dstream.binance.com/ws"/>

        <add key="Binance:StreamEndpointsSpot" value="wss://stream.binance.com:9443/stream"/>
        <add key="Binance:StreamEndpointsFutures" value="wss://fstream.binance.com/stream"/>
        <add key="Binance:StreamEndpointsFutCoin" value="wss://dstream.binance.com/stream"/>
        <add key="UseDxMediaPlayer" value="false"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.26.1.0" newVersion="3.26.1.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>